body {
    background-color: #e0f2fe;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bloco-qr {
    background-color: white;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 225px;
    height: 400px;
    box-sizing: border-box;
}
.bloco-qr img {
    width: 200px;
    height: 200px;
    margin: 10px;
}
#qr-code {
    border-radius: 5%;  
}
h2 {
    text-align: center;
    font-size: 12pt;
    margin: 10px 30px 10px 30px;
    font-family: sans-serif;
    color: #363434;
}
p {
    text-align: center;
    font-size: 10pt;
    margin: 20px;
    font-family: sans-serif;
    color: #504d4d;
}
footer{
    font-size: 10pt;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
footer a:hover {    
    color: #504d4d;
  }